.card-carousel-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  scroll-behavior: smooth;
  width: fit-content;
  overflow: scroll;
  z-index: 1;
}

.card-section-big {
  width: 100vw;
  overflow: hidden;
}

.card-carousel-container .single-card-container {
  width: 90vw;
}

@media screen and (min-width: 1200px) {
  .card-section-container {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 6rem;
  }
}
