.container.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1.5rem;
  align-items: center;
}

.logo-container {
  height: 5rem;
}

.logo-container img {
  height: 100%;
  object-fit: cover;
}

.links-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 7.9rem;
  right: 0;
  background-color: white;
  padding-inline: 2.5rem;
  height: calc(100vh - 8.1rem);
  width: 50vw;
}

.links-container a {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--gray);
}

.links-container a:hover {
  color: var(--light-blue);
}

.nav-button {
  border: 1px solid var(--gray);
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button svg {
  color: var(--gray);
  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .links-container {
    position: relative;
    flex-direction: row;
    gap: 2rem;
    top: 0;
    right: 0;
    padding-inline: 0;
    height: auto;
    width: auto;
    align-items: center;
  }
}
