@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

html * {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray: #536c77;
  --purple: #5271ff;
  --light-blue: #46d2da;
  --light-gray: rgb(233, 233, 233);
}

.App {
  width: 100%;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  position: relative;
}

.container {
  width: 95%;
  margin: auto;
}

.d-none {
  display: none;
}

@media screen and (min-width: 800px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 80%;
  }
}
